.thread_message_inputbox {
    width: 95%;
    max-width: 800px; 
    margin-left: 20px;
    min-height: 80px;
    max-height: 250px;
}
.message_textarea {
    width: 95%; 
    max-height: 100px;
    max-width: 95%;
    min-width: 95%;
}
.thread_board {
    margin-left: 20px;
}