body {
    background-color: pink;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100;
    margin: 0;
}

body,tr,td,th,input,textarea { font-family: "Comic Sans MS", cursive, sans-serif; }
textarea {background-color:rgb(200, 200, 200)}

.pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imgs/black-twill.png');
    background-repeat: repeat;
    background-size: auto;
    opacity: 1;
    z-index: -1;
}


.forum_title {
    position: relative;
    z-index: 2;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}
.thread_title {
    position: relative;
    z-index: 2;
    font-size: 2em;
    color: rgb(230, 230, 230);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.thread_menu_title {
    position: relative;
    z-index: 2;
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.thread_select_button {
    background-color: #e5cbfa;
    border-radius: 100px;
    box-shadow: rgba(13, 53, 80, 0.2) 0 -25px 18px -14px inset,rgba(166, 122, 223, 0.15) 0 1px 2px,rgba(126, 87, 170, 0.15) 0 2px 4px,rgba(118, 55, 155, 0.15) 0 4px 8px,rgba(0, 0, 0, 0.15) 0 8px 16px,rgba(0, 0, 0, 0.15) 0 16px 32px;
    color: rgb(39, 39, 39);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.thread_select_button:hover {
    box-shadow: rgba(210, 125, 236, 0.35) 0 -25px 18px -14px inset,rgba(174, 140, 230, 0.25) 0 1px 2px,rgba(147, 50, 185, 0.25) 0 2px 4px,rgba(112, 7, 116, 0.25) 0 4px 8px,rgba(43, 1, 56, 0.25) 0 8px 16px,rgba(0, 0, 0, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.thread_board {
    background-color:powderblue; 
    margin-top:  5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px; 
    padding-bottom: 0px; 
    width: 95%; 
    margin-bottom: 0px;
}

.thread_message {
    background-color:pink; 
    margin-left: auto; 
    margin-bottom: 0px; 
    margin-top: 0px; 
    padding-top: 0px; 
    padding-left: 5px;
    padding-bottom: 5px;
    width: 90%;
}

.thread_message_inputbox {
    margin-left: 2.5%;
}